.about-container {
    width: 100%;
    display: flex;
    justify-content: space-evenly !important;
    align-items: center;
    height: 100vh;
    padding: 20px;
}

@media only screen and (max-width: 995px) {

    .about-container {
        flex-wrap: wrap;
        height: 100vh;
    }
}

.innerLeftContainer {
    width: 100%;
    text-align: center;
}

.innerRightContainer {
    width: 100%;
    padding: 20px;
    text-align: center !important;
}

.innerLeftContainer img {
    width: 80%;
}

.innerRightContainer h1 {
    font-size: 2.5rem;
    font-weight: bold;
}

.innerRightContainer p {
    font-size: 1.5rem;
    font-style: normal;
}