/* App section */

.startSection {
  background-image: url('../public/imgs/software-3682509_1920.jpg');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

@media only screen and (max-width: 600px) {

  .startSection {
    background-image: url('../public/imgs/software-3682509_1920___2.jpg');
  }

  .startSection h1 {
    font-size: 1em;
    font-weight: bold;
  }

  .socialLinks li a svg {
    font-size: 0.7em;

  }
}

.socialLinks {
  list-style-type: none;
  font-size: 2.2em;
  padding: 8px 0px;
  display: flex;
}


.socialLinks li a {
  display: inline-block;
  width: 50px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  text-decoration: none;
  color: #fff;
}

/* End */







/* Header */
header {
  background-color: #3a3b3c;
  position: fixed;
  width: 100%;
  opacity: 0.8;
  z-index: 2;
  color: #fff;
  padding: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#logo {
  font-size: 26px;
  font-weight: bold;
}

#menu {
  display: flex;
  gap: 20px;
}

#menu a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  transition: color 0.3s;
}

#menu a:hover {
  color: #d4af37;
  transition: 0.5s;
}

/* Responsive Design */
@media only screen and (max-width: 600px) {

  #menu,
  .headerItem {
    display: none;
  }

  #logo {
    order: -1;
    font-size: 1rem;
    text-align: center !important;
  }
}

/* End */