body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
}

.card {
    max-width: 400px;
    margin: 20px auto;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.project-image {
    width: 100%;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.card-content {
    padding: 20px;
}

.project-title {
    font-size: 1.5em;
    margin-top: 0;
    margin-bottom: 10px;
}

.project-description {
    color: #666;
}

.links {
    margin-top: 20px;
}

.github-link,
.live-preview-link {
    display: inline-block;
    padding: 8px 16px;
    margin-right: 10px;
    text-decoration: none;
    color: #fff;
    background-color: #007bff;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.github-link:hover,
.live-preview-link:hover {
    background-color: #0056b3;
}