body {
    padding: 0;
    margin: 0;
    font-style: italic;
    overflow-x: hidden;
}


/* App section */

.startSection {
    background-image: url('../public/imgs/software-3682509_1920.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@media only screen and (min-device-width: 800px) {
    .startSection {
        background-image: url('../public/imgs/software-3682509_1920___2.jpg');
    }
}

/* #topHeading {
    margin-bottom: 0px;
    font-size: 4rem;
} */

.socialLinks li a svg {
    font-size: 24px;
}

.socialLinks {
    list-style-type: none;
    padding: 0;
    display: flex;
}

.socialLinks li {
    margin-right: 10px;
}

.socialLinks li:last-child {
    margin-right: 0;
}

.socialLinks li a {
    display: inline-block;
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    text-decoration: none;
    color: #fff;
}


/* End */




/* Section */


.container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    height: 100vh;
}

.innerLeftContainer,
.innerRightContainer {
    width: 40%;
}

.innerLeftContainer img {
    width: 70%;
}

.innerRightContainer h1 {
    font-size: 2.2rem;
}

.innerRightContainer p {
    font-size: 1.2rem;
}


.iDoContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    height: 100vh;
}

.topContainer,
.bottomContainer {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    /* flex-wrap: wrap; */
}

.items {
    padding: 30px;
}

.iDoContainer h1 {
    margin: 0;
}

.iDoHeading {
    padding-left: 70px;
}

.items h1 {
    font-size: 1.5rem;
}


/* End */



::selection {
    color: red;
}




/* Header */


.custom-header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 8vh;
    background-color: black;
    color: #fff;
    z-index: 2;
    opacity: 0.7;
    align-items: center;
}

.title {
    padding-left: 20px;
}

.links-container {
    text-align: center;
}

.links {
    text-decoration: none;
    color: #fff;
    font-size: 1.3rem;
    padding: 2px 14px;
}

.links:hover {
    color: goldenrod;
    transition: 0.5s;
}

/* 
@media only screen and (max-width: 550px) {
    .custom-header {
        display: none;
    }
} */

/* End */





.projectContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
}

.card {
    width: 100%;

    max-width: 18rem;

}

.contact-us-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.contact-form {
    display: flex;
    flex-direction: column;
}

.form-group {
    margin-bottom: 15px;
}

label {
    font-weight: bold;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}


.contact_container,
.project_container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 30px;
}