body {
    padding: 0;
    margin: 0;
    font-style: italic;
    overflow-x: hidden;
}

::selection {
    color: red;
}



/* Section */


.container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    height: 100vh;
}

.innerLeftContainer,
.innerRightContainer {
    width: 40%;
}

.innerLeftContainer img {
    width: 70%;
}

.innerRightContainer h1 {
    font-size: 2.2rem;
}

.innerRightContainer p {
    font-size: 1.2rem;
}


.iDoContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    height: 100vh;
}

.topContainer,
.bottomContainer {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    /* flex-wrap: wrap; */
}

.items {
    padding: 30px;
}

.iDoContainer h1 {
    margin: 0;
}

.iDoHeading {
    padding-left: 70px;
}

.items h1 {
    font-size: 1.5rem;
}


/* End */










.projectContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
}

.card {
    width: 100%;

    max-width: 18rem;

}

.contact-us-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.contact-form {
    display: flex;
    flex-direction: column;
}

.form-group {
    margin-bottom: 15px;
}

label {
    font-weight: bold;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}


.contact_container,
.project_container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 30px;
}